[submodule "businessrules"]
	path = businessrules
	url = https://github.com/rajeev150590/businessrules.git
[submodule "rio"]
	path = rio
	url = https://github.com/rajeev150590/rio.git
[submodule "database"]
	path = database
	url = https://github.com/rajeev150590/database.git
